.cardRating{

    width: 130px;
    background-color: green;
    color: white;
    font-size: 10px;
    font-weight: 600;

}
.cardBottomDetails{
    display: flex;

}

.cardFlexBottomItem{
    flex-direction: row;
    flex: auto;
}
.mainDiv{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 23%;
    display: flex;
    padding: 15px;
    flex-direction: column;
}
.imageDiv{
    width: 300px;
}
.resCusineDetails{
    color: sienna;
}
.resNameDeatails{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:capitalize
}